/* .container {
  width: 100%;
  min-height: 100vh;
  color: black;
} */

.homeContainer {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.homeContainer > div:nth-child(odd) {
  flex: 0.2;
}
.homeContainer > div:nth-child(even) {
  flex: 0.6;
}
.homeContainer__leftBar {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-right: 1px solid rgb(222, 222, 222);
  color: black;
}

/* MAIN */
.feedContainer {
  flex: 0.6;
  color: black;
}

.extraContainer {
  flex: 0.2;
}

/* SIDEBAR OPTION */
.sideBarOption {
  display: flex;
  align-items: center;

  gap: 1.3rem;

  width: 80%;
  margin: 0 auto;
  max-width: 80%;
  font-size: 1.4rem;
  color: black;
  transition: all 0.3s;
  cursor: pointer;
}
.sideBarOption:hover {
  transform: scale(1.04);
}
/* ICON */
.sideBarOption > svg {
  min-width: 1.5rem;
  height: 1.5rem;

  flex-shrink: 0;

  stroke: black;
}

/* P */
.sideBarOption > p {
  margin: 0;
  color: black;
}

.homeContainer_feedContainer {
  padding-inline: 0.8rem;
}
.extraContainer {
  border-left: 1px solid rgb(222, 222, 222);
  padding-left: 1.2rem;
}
.mobileNavBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 6vh;
  display: none;
  justify-content: space-around;
  background: white;
  align-items: center;
}
.mobileNavBar svg {
  height: 2rem;
  width: 2rem;
}

@media only screen and (max-width: 600px) {
  .extraContainer {
    display: none;
  }
  .homeContainer {
    display: block;
  }
  .homeContainer__leftBar {
    display: none;
  }
  .mobileNavBar {
    display: flex;
  }
  .homeContainer_feedContainer {
    padding-bottom: 8vh;
  }
}
